/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


.get{
    border: 1px solid black;
    width: 150px;
    height: 25px;
    padding-left: 31px;
    padding-top: 5px;
    margin-left: 20%;
}
a{
    text-decoration: none;
    color: grey;
}
.container{
    max-width: 800px;
    margin: 0 auto;

}
.top{
    display: flex;
    justify-content: space-between;
}

.nav{
    display: flex; 
    justify-content: space-between;     
    margin-top: 4%;
    width:70%;
    
}
.pic{
    display: flex;
    margin-left: 55%;
    margin-top: -40%;
    
}
h1{
    font-size: 45pt;
    text-align: center;
}
.title{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 15%;
    margin-left: 16%;;
}
.line{
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
}
.info{
    display: flex;
        
}
.features{
    width: 50%;
    padding-right: 3%;
}
.about{
    width: 50%;
}

.info2{
    display: flex;
}
.middle-img{
    width:100%;
    padding-top: 3%;
    padding-bottom: 3%;
}
footer{
    display: flex;
    flex-direction: column;
}
footer span{

    text-align: center;
}
address{
    width:20%;
    flex-wrap: wrap;
}
@media(max-width: 800px){
    .container{
        max-width: 500px;
        margin: 0 auto;
    
    }
    header{
        height: 50%;
    }
    .pic{
        visibility: hidden;
        width: 40%;
    }
    .top{
        display: flex;
        flex-direction: column-reverse;

    }
    .nav{
        margin-top: 0%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        
    }
    .logo{
         margin-top: 5%;
         width: 30%;
         margin-left: 35%;
        
    }
    a{
        margin-top: 5%;
    }
    .title{
        margin-left: 30%;

    }



    
}
@media(max-width: 500px){
    
}
